/**** structure *****/

html, body {
  margin: 0;
  height: 100%;
  min-height: 100%;
}

/**** header *****/

.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

.navbar-default {
  background-color: #E0EAFC;
  font-size: 25px;
}

.navbar-default .navbar-nav > li > a {
  color:#70B8B8;
  text-align: right;
}

.navbar-brand {
  float: left;
  height: 50px;
  padding: 10px;
  font-size: 18px;
  line-height: 20px;
}

.navbar-brand img {
  height: 30px;
  margin: 0 auto;
}

.navbar-default {
  color:#70B8B8;
  font-size: 20px;
  border: none;
}

/**** main *****/

main {
  height: 100%;
  /*background: white;*/
}

/**** footer *****/



/**** home ****/

#home .home {
  background-image: url("/images/7daysofsun_new.gif");
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

#home #logo {
  height: 200px;
  margin: 0 auto;
  display: block;
}

#home h2 {
  color: #70B8B8;
  font-size: 35px;
  text-align: center;
  margin: 0 auto 40px;
}

#home ul {
  list-style-type: none;
  margin: 0 auto 40px;
  padding: 0;
  text-align: center;
}

#home ul li {
  display: inline-block;
}

#home .button {
  border: solid 1px white;
  height: 100px;
  width: 100px;
  background-color: #70B8B8;
  text-align:center;
  border-radius: 100%;
  opacity: 0.7;
}

#home #bottom {
  width:100%;
  height:400px;
}

#home .jumbotron {
  display:inline-block;
  width:40%;
  background: rgba(0, 188, 212, 0.3);
  border-radius: 2%;
  margin: 25px;
  color:white;
}

#home .container .jumbotron, .container-fluid .jumbotron {
  border-radius:0px;
}

/**** map ****/

#map #map-canvas {
  width: 100%;
  min-height: 400px;
}

#map h2 {
  margin-bottom: 20px;
}

#map img.media-object {
  height: 40px;
}

#summary {
  font-size: 20px;
  color: black;
  font-weight:bold;
}

/**** users ****/

#users h2 {
  margin-bottom: 20px;
}

#users img.media-object {
  border-radius: 100%;
  width: 100px;
  height: 100px;
}

/**** user ****/

#user h2 {
  margin-bottom: 20px;
}

#user img.media-object {
  border-radius: 100%;
  width: 200px;
  height: 200px;
}

/**** forms ****/

.form-control {
  border: solid 1px #70B8B8;
  background-color: #E0EAFC;
  color: #70B8B8;
}

.form-control::-webkit-input-placeholder {
  color:#70B8B8;
}
