<section id="home">
  <div class="home">
    <img id="logo" src="/images/7Daysinthesun-logo.png">
    <h2>Sunshine is only one click away...</h2>
    <a class="btn btn-primary btn-lg map" href="/cities" data-template="map">
      Find the sun
    </a>
  </div>
  <div class="container" id="bottom">
    <div class="row">
      <div class="col-md-6 column">
        <div class="inner">
          <h1><i class="fa fa-user fa-6" aria-hidden="true"></i></h1>
          <p>Create a profile and get notified when your favourite spots get 7 days of sun (you wish!)</p>
          <p><a class="btn btn-primary btn-lg" id="register" role="button" data-template="register">Register</a></p>
        </div>
      </div>
      <div class="col-md-6 column">
        <div class="inner">
          <h1><i class="fa fa-plane fa-6" aria-hidden="true"></i></h1>
          <p>Search for 7 days of sun in any City around the world and book Last-Minute-Flights and Hotels.</p>
          <p><a class="btn btn-primary btn-lg" id="hunt-the-sun" href="/cities" role="button" data-template="map">Hunt the Sun</a></p>
        </div>
      </div>
    </div>
  </div>
</section>



