<div id="home">
  <img id="logo" src="/images/7Daysinthesun-logo.png">
  <h2 id="tagline">Where sunshine is only one click away...</h2>
  <a class="map-region" id="world" data-template="map" ><img src="../images/world-map-icon.png" class="button" id="world-icon" ></a>
  <a class="map-region" id="africa" data-template="map"><img src="../images/africa-icon.png" class="button" id="africa-icon" ></a>
  <a class="map-region" id="asia" data-template="map"><img src="../images/asia-icon.png" class="button" id="asia-icon" ></a>
  <a class="map-region" id="australia" data-template="map"><img src="../images/australia-icon.png" class="button" id="australia-icon" ></a>
  <a class="map-region" id="europe" data-template="map"><img src="../images/europe-icon.png" class="button" id="europe-icon" ></a>
  <a class="map-region" id="north-america" data-template="map"><img src="../images/america-icon.png" class="button" id="north-america-icon" ></a>
  <a class="map-region" id="south-america" data-template="map"><img src="../images/south-america-icon.png" class="button" id="south-america-icon" ></a>
</div>

<div id="bottom">
  <div class="jumbotron left">
    <h1><i class="fa fa-user fa-6" aria-hidden="true"></i></h1>
    <p>Create a profile and get notified when your favourite spots get 7 days of sun (you wish!)</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Register</a></p>
  </div>
  <div class="jumbotron right">
    <h1><i class="fa fa-plane fa-6" aria-hidden="true"></i></h1>
    <p>Search for 7 days of sun in any City around the world and book Last-Minute-Flights and Hotels.</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Hunt the Sun</a></p>
  </div>
</div>



