<div id="homepage">

  <img id="logo" src="/images/7Daysinthesun-logo.png">
  <h2 id="tagline">Where sunshine is only one click away...</h2>

  <a class="map-region" id="world" data-template="map" ><img src="../images/world-map-icon.png" class="button" id="world-icon" ></a>
  <a class="map-region" id="africa" data-template="map"><img src="../images/africa-icon.png" class="button" id="africa-icon" ></a>
  <a class="map-region" id="asia" data-template="map"><img src="../images/asia-icon.png" class="button" id="asia-icon" ></a>
  <a class="map-region" id="australia" data-template="map"><img src="../images/australia-icon.png" class="button" id="australia-icon" ></a>
  <a class="map-region" id="europe" data-template="map"><img src="../images/europe-icon.png" class="button" id="europe-icon" ></a>
  <a class="map-region" id="north-america" data-template="map"><img src="../images/america-icon.png" class="button" id="north-america-icon" ></a>
  <a class="map-region" id="south-america" data-template="map"><img src="../images/south-america-icon.png" class="button" id="south-america-icon" ></a>
</div>

